[Unit]
Description=Pro-active monitoring utility for unix systems
After=network.target

[Service]
Type=simple
KillMode=process
ExecStart={{ monit_bin }}/monit -I -c {{ monit_conf_dir }}/monitrc
ExecStop={{ monit_bin }}/monit -c {{ monit_conf_dir }}/monitrc quit
ExecReload={{ monit_bin }}/monit -c {{ monit_conf_dir }}/monitrc reload
Restart=on-abnormal
{% if monit_enable_superuser %}
User=root
{% else %}
User={{ monit_user }}
{% endif %}

[Install]
WantedBy=multi-user.target